  /*Para view v_Plparam*/
  .colbox{
    margin-left: 0px;
    margin-right: 0px;
  }
  .inicio{
    margin-left:100px;
  } 
 span.inicio{
  	margin-left:200px;
  }
  #banner {
    margin-left:0px;
    width:1290px;
    height:60px;
  }